<div class="add-container">
  <div class="jathu">
    <b>ADD TV SHOWS</b>
  </div>
  <br>
  <div class="nithu">
    <form class="">
      <label for="addval">Name</label>
      <input id="adder" class="form-control" type="text" name="name" placeholder="Enter Tv Show Name" onchange="val(adder)">

      <p id="msg"></p>
      <button onclick="add(adder)" class="btn btn-primary x" type="button" name="button">Add</button>
    </form>
  </div>
</div>
