<div class="detalis-box">
  <div class="gallery">
    <a target="_blank" href="description">
      <img src="1.jpg" alt="">
    </a>
    <br>
<a href="/login"><button style="margin-top:20px; width:180px;" class="btn btn-primary">Login to Subscribe </button></a>
  </div>


<div class="nxt-box">
  <h2><b>Titanic</b><h2>
    <p style="float:right; color:red;" class="rating"><span style="color:red;" class="glyphicon glyphicon-heart"></span> 9.7</p>
    <br><br>

<b>  <p style="font-size:13px;">84 years later, a 101-year-old woman named Rose DeWitt Bukater tells the story to her granddaughter Lizzy Calvert, Brock Lovett, Lewis Bodine, Bobby Buell and Anatoly Mikailavich on the Keldysh about her life set in April 10th 1912, on a ship called Titanic when young Rose boards the departing ship with the upper-class passengers and her mother, Ruth DeWitt Bukater, and her fiancé, Caledon Hockley. Meanwhile, a drifter and artist named Jack Dawson and his best friend Fabrizio De Rossi win third-class tickets to the ship in a game. And she explains the whole story from departure until the death of Titanic on its first and last voyage April 15th, 1912 at 2:20 in the morning.
</b> </p> <br>
  <footer>
    <p style="font-size:15px;"><strong>Genres: Drama, Romance</strong> </p>
    <p style="font-size:15px;"><strong>Actors: Leonardo DiCaprio, Kate Winslet, Billy Zane, Kathy Bates, Frances Fisher, Gloria Stuart, Bill Paxton, Bernard Hill, David Warner, Victor Garber, Jonathan Hyde, Suzy Amis, Lewis Abernathy, Nicholas Cascone, Anatoly M. Sagalevitch</strong> </p>
    <p style="font-size:15px;"><strong>Director: James Cameron</strong> </p>
    <p style="font-size:15px;"><strong> Country: USA</strong> </p>
    <p style="font-size:15px;"><strong>Duration 194 min</strong> </p>
    <p style="font-size:15px;"><strong>Quality: HD</strong> </p>
    <p style="font-size:15px;"><strong>Release: 1997</strong> </p>
  </footer>
</div>

</div>

<div class="xbox">
<p><b>Production Budget:</b> $200 million<br><b>Box office: </b>2.187 billion USD</p>
</div>
<div class="lastbox">
  <div class="header">
    <img src="clap.png"><p><b>Reviews</b></p>
  </div>

  <div class="episodes">
    <span><b><i>For Cameron, Titanic is an attempt to raise pop entertainment to the level of art.</b></i></span>
    <footer>.
      <p style="margin-left:75%";><strong>Posted by: Rolling Stone</strong> </p>
    </footer>
  </div>



  <div class="episodes">
<span><b><i>You won’t mind seeing the Titanic sink all over again - in 3D exactly a hundred years from the moment it actually happened.</b></i></span>
<p style="margin-left:75%";>
  <footer>.
    <p style="margin-left:75%";><strong>Posted by: Times of India</strong> </p>
  </footer>
  </div>

  <div class="episodes">
<span><b><i>Cameron was clearly inspired by the challenge of reproducing the event with a physical verisimilitude and impact inconceivable in the numerous previous film and TV versions of the event.</b></i></span>
  <p style="margin-left:75%";><strong>Posted by: Todd McCarthy
  </strong> </p>
  </div>
</div>
