<div class="jumbotron text-center">
  <ul class="pagination">

    <li><a class="btn" href="#" onclick="select('0-9')">0-9</a></li>
    <li><a class="btn" href="#" onclick="select('A')">A</a></li>
    <li><a class="btn" href="#" onclick="select('B')">B</a></li>
    <li><a class="btn" href="#" onclick="select('C')">C</a></li>
    <li><a class="btn" href="#" onclick="select('D')">D</a></li>
    <li><a class="btn" href="#" onclick="select('E')">E</a></li>
    <li><a class="btn" href="#" onclick="select('F')">F</a></li>
    <li><a class="btn" href="#" onclick="select('G')">G</a></li>
    <li><a class="btn" href="#" onclick="select('H')">H</a></li>
    <li><a class="btn" href="#" onclick="select('I')">I</a></li>
    <li><a class="btn" href="#" onclick="select('J')">J</a></li>
    <li><a class="btn" href="#" onclick="select('J')">K</a></li>
    <li><a class="btn" href="#" onclick="select('L')">L</a></li>
    <li><a class="btn" href="#" onclick="select('M')">M</a></li>
    <li><a class="btn" href="#" onclick="select('N')">N</a></li>
    <li><a class="btn" href="#" onclick="select('O')">O</a></li>
    <li><a class="btn" href="#" onclick="select('P')">P</a></li>
    <li><a class="btn" href="#" onclick="select('Q')">Q</a></li>
    <li><a class="btn" href="#" onclick="select('R')">R</a></li>
    <li><a class="btn" href="#" onclick="select('S')">S</a></li>
    <li><a class="btn" href="#" onclick="select('T')">T</a></li>
    <li><a class="btn" href="#" onclick="select('U')">U</a></li>
    <li><a class="btn" href="#" onclick="select('V')">V</a></li>
    <li><a class="btn" href="#" onclick="select('W')">W</a></li>
    <li><a class="btn" href="#" onclick="select('X')">X</a></li>
    <li><a class="btn" href="#" onclick="select('Y')">Y</a></li>
    <li><a class="btn" href="#" onclick="select('Z')">Z</a></li>
      <li><a class="btn" href="#" onclick="select('all')"> ALL</a></li>
  </ul>


  <ul class="pager">
  <li><a class="btn"  onclick="filter('love')">Love</a></li>
  <li><a class="btn" onclick="filter('action')">Action</a></li>
  <li><a class="btn" onclick="filter('Adventure')">Adventure</a></li>
  <li><a class="btn" onclick="filter('Animation')">Animation</a></li>
  <li><a class="btn" onclick="filter('Biography')">Biography</a></li>
  <li><a class="btn" onclick="filter('comedy')">Comedy</a></li>
  <li><a class="btn" onclick="filter('Crime')">Crime</a></li>
  <li><a class="btn" onclick="filter('Family')">Family</a></li>
  <li><a class="btn" onclick="filter('Fantasy')">Fantasy</a></li>
  <li><a class="btn" onclick="filter('Romance')">Romance</a></li>
  <li><a class="btn" onclick="filter('thriller')">Thriller</a></li>
  <li><a class="btn" onclick="filter('War')">War</a></li>
  <li><a class="btn" onclick="filter('superhero')">Superhero</a></li>
  <li><a class="btn" onclick="filter('Sport')">Sport</a></li>
  <li><a class="btn" onclick="filter('Horror')">Horror</a></li>
  <li><a class="btn" onclick="filter('Music')">Music</a></li>
  <li><a class="btn" onclick="filter('Mystery')">Mystery</a></li>
  <li><a class="btn" onclick="filter('dance')">Dance</a></li>
  <li><a class="btn" onclick="filter('Funy')">Funy</a></li>
  <li><a class="btn" onclick="filter('fight')">Fight</a></li>
  <li><a class="btn" onclick="filter('sci-fi')">sci-fi</a></li>
  <li><a class="btn" onclick="filter('Travel')">Travel</a></li>
  </ul>
</div>

<div class="movie-box">
  <div class="game-box">

        <h2>TOP 12 MOVIES</h2>
        <input type="search"  class= "search" onkeyup="myFunction()" placeholder= "search....." >

<!--
        <ul id="Name">
  <li><a href="#">Civil War</a></li>

  <li><a href="#">Fast & Furious</a></li>

  <li><a href="#">G.I.JOE</a></li>

  <li><a href="#">Iron Man 3</a></li>

  <li><a href="#">Kingdom</a></li>

  <li><a href="#">M:I-2</a></li>

  <li><a href="#">RobinBhood</a></li>

  <li><a href="#">Step Up</a></li>
  <li><a href="#">Step Up 2</a></li>

  <li><a href="#">Titanic</a></li>
  <li><a href="#">Terminator</a></li>
  <li><a href="#">Thor</a></li>

</ul>
-->
  </div>

<div class="game-body">
  <div class="ingallery T love shows">
    <a target="_blank" href="description">
      <img src="1.jpg">
    </a>
    <div class="desc"><b>Titanic</b></div>
  </div>

  <div class="ingallery S dance shows">
    <a target="_blank">
      <img src="2.jpg">
    </a>
    <div class="desc"><b>Step Up</b></div>
  </div>

  <div class="ingallery S dance shows">
    <a target="_blank">
      <img src="3.jpg">
    </a>
    <div class="desc"><b>Step Up 2</b></div>
  </div>

  <div class="ingallery R comedy shows">
    <a target="_blank">
      <img src="4.jpg" >
    </a>
    <div class="desc"><b>RobinBhood</b></div>
  </div>


  <div class="ingallery I superhero shows">
    <a target="_blank">
      <img src="5.jpg" >
    </a>
    <div class="desc"><b>Iron Man 3</b></div>
  </div>

  <div class="ingallery K action thriller shows">
    <a target="_blank">
      <img src="6.jpg" >
    </a>
    <div class="desc"><b> Kingdom</b></div>
  </div>

  <div class="ingallery G action shows">
    <a target="_blank">
      <img src="7.jpg">
    </a>
    <div class="desc"><b>G.I.JOE</b></div>
  </div>

  <div class="ingallery C superhero shows">
    <a target="_blank">
      <img src="8.jpg" >
    </a>
    <div class="desc"><b>Civil War</b></div>
  </div>

  <div class="ingallery F action shows">
    <a target="_blank">
      <img src="9.jpg" >
    </a>
    <div class="desc"><b>Fast & Furious</b></div>
  </div>

  <div class="ingallery T superhero shows">
    <a target="_blank">
      <img src="10.jpg" >
    </a>
    <div class="desc"><b>Thor</b></div>
  </div>

  <div class="ingallery M action fight shows">
    <a target="_blank">
      <img src="11.jpg" >
    </a>
    <div class="desc"><b>M:I-2</b></div>
  </div>

  <div class="ingallery T action shows">
    <a target="_blank">
      <img src="12.jpg" >
    </a>
    <div class="desc"><b>Terminator</b></div>
  </div>
</div>
</div>
