<div class="container col-md-4 col-md-offset-4">
   <div class="loginForm">
<form class="" action="/login" method="post">

                <h4 class="modal-title" align="center"> <b>Log in</b></h4>

            <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-at fa" aria-hidden="true"></i></span>
                            <input type="text" name="email" class="form-control" id="mailname"  placeholder="Enter your Mail"/>
                    </div>


          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
            <input type="password" name="password" class="form-control" id="pwd"  placeholder="Enter your Password"/>
                    </div>
          <div class="form-group">
            <p id="statement"></p>
                        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
                    </div>
        </form>


                    <div class="form-group" id="loginFormText">
                        <p><b><a href="">Forgot your Password?</a></b></p>
                        <p>Don't have an Account yet? <b><a href="signup">Sign Up</a></b></p>
                        <p><b>Or</b></p>
                    </div>
                    <div class="form-group">
                        <a href="/auth/facebook" class="fb btn-block btn-lg">
                            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
                        </a>
                    </div>
                    <div class="form-group">
                        <a href="/auth/google" class="google btn-block btn-lg">
                            <i class="fa fa-google fa-fw"></i> Login with Google+
                        </a>
                    </div>

            </div>
        </div>
</div>
